<% include header %>

  <% include navigation %>

  <h1><%-title%></h1>

  <p>Welkom op Bikespot, <br><br>
    De App waar je gemakkelijk alle openbare fietsenstallingen vindt. Allen zijn ze gratis maar enkele zijn ook nog eens bewaakt! <br>
    Ga naar de <a href="/bikespot">kaart</a> en vind uw dichtstbijzijnde fietsenstalling.</p>

<% include footer %>
