<% include header %>

  <% include navigation %>

  <h1><%- title %></h1>

  <p>Heb je een vraag? <br><br>
    Je kan ons bereiken via de volgende gegevens: <br>
    <span class="titelGeelKlein">E-mail:</span> info.bikespot@gmail.com
  </p>

<% include footer %>
